<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
			<th>Priority</th>
    </tr>
  </thead>
  <tbody>
	  <tbody>
	    <% @contact.tasks.each do |task| %>
	      <tr>
	        <td><%= link_to task.title, contact_task_path(task.contact, task) %></td>
					<td><%= task.description %></td>
					<td><%= task.priority %></td>
	        <td>
	          <%= link_to 'Edit', edit_contact_task_path(task.contact, task), :class => 'btn btn-mini' %>
	          <%= link_to 'Delete', [task.contact, task], 
																	:confirm => 'Are you sure?', :method => :delete, 
																	:class => 'btn btn-mini btn-danger' %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<%= link_to 'New', new_contact_task_path(@contact), :class => 'btn btn-primary' %>