<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
<div class="alert alert-error">
	<a class="close" data-dismiss="alert">×</a>
	  <h4 class="alert-heading">Warning!</h4>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<fieldset>
  <legend><%= controller.action_name.capitalize %> User</legend>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label'%>
		 <div class="controls">
    	<%= f.text_field :name, :class => 'text_field' %>
		</div>
  </div>
 
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
		 <div class="controls">
    <%= f.text_field :email, :class => 'text_field'  %>
		</div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
		 <div class="controls">
    <%= f.password_field :password, :class => 'text_field'  %>
		</div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, "Confirmation", :class => 'control-label' %>
		 <div class="controls">
    <%= f.password_field :password_confirmation, :class => 'text_field'  %>
		</div>
  </div>

   <div class="form-actions">
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', contacts_path, :class => 'btn' %>
  </div>

  </fieldset>
<% end %>
