<h1>Contacts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
			<th>Company</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact_path(contact) %></td>
        <td><%= contact.title %></td>
				<td><%= contact.title %></td>
        <td>
          <%= link_to 'Edit', edit_contact_path(contact), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', contact_path(contact), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_contact_path, :class => 'btn btn-primary' %>
